{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">Login</h2>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}

            {% load crispy_forms_tags %}
            <form method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                {% for er in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{er}}
                    </div>
                {% endfor %}
                {% endif %}

                <!-- {{form|crispy}} -->

                {% for fm in form %}

                    {{fm.label_tag}}
                    {{fm}}
                    {{fm.errors | striptags}}
               

                {% endfor %}
                <br>
                <button type="submit" class="btn btn-primary mt-2">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
