<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is first page</h1>
    <h>Author: {{name}}</h>


    <h3>add</h3>
    <p>addTemplate before: {{addTemplate}}</p>
    <p>Template after: {{addTemplate | add:"200"}}</p>
    <h3>addslashes</h3>
    <p>addslashesTemplate before: {{addSlashTemplate}}</p>
    <p>Template after: {{addSlashTemplate | addslashes}}</p>
    <h3>capfirst</h3>
    <p>capfirstTemplate before: {{capFirstTemplate}}</p>
    <p>Template after: {{capFirstTemplate | capfirst}}</p>
    <h3>center</h3>
    <p>centerTemplate before: {{centerTemplate}}</p>
    <p>Template after: {{centerTemplate | center:"20"}}</p>
    <h3>cut</h3>
    <p>cutTemplate before: {{cutTemplate}}</p>
    <p>Template after: {{cutTemplate | cut:" "}}</p>
    <h3>date</h3>
    <p>dateTemplate before: {{dateTemplate}}</p>
    <p>Template after: {{dateTemplate | date:"D d M Y"}}</p>
    <h3>default</h3>
    <p>defaultTemplate before: {{defaultTemplate}}</p>
    <p>Template after: {{defaultTemplate | default:"semon"}}</p>
    <h3>dictsort</h3>
    <p>dictsortTemplate before: {{dictsortTemplate}}</p>
    <p>Template after: {{dictsortTemplate | dictsort:"name"}}</p>
    <h3>divisibleby</h3>
    <p>divisiblebyTemplate before: {{divisiblebyTemplate}}</p>
    <p>Template after: {{divisiblebyTemplate | divisibleby:"3"}}</p>
    <h3>escape</h3>
    <p>escapeTemplate before: {{escapeTemplate}}</p>
    <p>Template after: {{escapeTemplate | escape}}</p>
    <h3>filesizeformat</h3>
    <p>filesizeformatTemplate before: {{filesizeformatTemplate}}</p>
    <p>Template after: {{filesizeformatTemplate | filesizeformat}}</p>
    <h3>first</h3>
    <p>firstTemplate before: {{firstTemplate}}</p>
    <p>Template after: {{firstTemplate | first}}</p>
    <h3>join</h3>
    <p>joinTemplate before: {{joinTemplate}}</p>
    <p>Template after: {{joinTemplate | join:"-"}}</p>
    <h3>last</h3>
    <p>lastTemplate before: {{lastTemplate}}</p>
    <p>Template after: {{lastTemplate | last}}</p>
    <h3>length</h3>
    <p>lengthTemplate before: {{lengthTemplate}}</p>
    <p>Template after: {{lengthTemplate | length}}</p>
    <h3>linenumbers</h3>
    <p>linenumbersTemplate before: {{linenumbersTemplate}}</p>
    <p>Template after: {{linenumbersTemplate | linenumbers}}</p>
    <h3>lower</h3>
    <p>lowerTemplate before: {{lowerTemplate}}</p>
    <p>Template after: {{lowerTemplate | lower}}</p>
    <h3>make_list</h3>
    <p>make_listTemplate before: {{make_listTemplate}}</p>
    <p>Template after: {{make_listTemplate | make_list}}</p>
    <h3>make_listString</h3>
    <p>make_listStringTemplate before: {{make_listStringTemplate}}</p>
    <p>StringTemplate after: {{make_listStringTemplate | make_list}}</p>
    <h3>random</h3>
    <p>randomTemplate before: {{randomTemplate}}</p>
    <p>Template after: {{randomTemplate | random}}</p>
    <h3>slice</h3>
    <p>sliceTemplate before: {{sliceTemplate}}</p>
    <p>Template after: {{sliceTemplate | slice:"2"}}</p>
    <p>Template after: {{sliceTemplate | slice:":2"}}</p>
    <p>Template after: {{sliceTemplate | slice:"2:4"}}</p>
    <p>Template after: {{sliceTemplate | slice:"2:-2"}}</p>
    <h3>slugify</h3>
    <p>slugifyTemplate before: {{slugifyTemplate}}</p>
    <p>Template after: {{slugifyTemplate | slugify}}</p>
    <h3>time</h3>
    <p>timeTemplate before: {{timeTemplate}}</p></p>
    <p>Template after: {{timeTemplate | time}}</p>
    <p>Template after: {{timeTemplate | time:"H:i"}}</p>
    <p>Template after: {{timeTemplate | time:"H:i:s"}}</p>
    <p>Template after: {{timeTemplate | time:"H:i:s.u"}}</p>
    <h3>timesince</h3>
    <p>timesinceTemplate before: {{timesinceTemplate}}</p>
    <p>Template after: {{timesinceTemplate | timesince}}</p>
<h3>title</h3>
    <p>titleTemplate before: {{titleTemplate}}</p>
    <p>Template after: {{titleTemplate | title}}</p>
    <h3>upper</h3>
    <p>upperTemplate before: {{upperTemplate}}</p>
    <p>Template after: {{upperTemplate | upper}}</p>
    <h3>wordcount</h3>
    <p>wordcountTemplate before: {{wordcountTemplate}}</p>
    <p>Template after: {{wordcountTemplate | wordcount}}</p>
    <h3>wordwrap</h3>
    <p>truncatecharsTemplate before: {{truncatecharsTemplate}}</p>
    <p>Template after: {{truncatecharsTemplate | truncatechars:7}}</p>
    
    <p>truncatewords before: {{truncatecharsTemplate}}</p>
    <p>Template after: {{truncatecharsTemplate | truncatewords:2}}</p>
     <h3>striptags</h3>
    <p>striptagsTemplate before: {{striptagsTemplate}}</p>
    <p>after: {{striptagsTemplate | striptags}}</p>
   

</body>
</html>