{% extends 'base.html' %}
{% block content %}

    <h1 class="text-center">this is inside the App</h1>
    <p class="text-center">Number of meals: {{meals | length}}</p>

    <div class="container">
        <div class="row">
            {% for i in meals %}
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src={{i.strMealThumb}} class="img-fluid img-thumbnail" alt={{i.strMeal}}>
                    <div class="card-body">
                        <h5 class="card-title">{{i.strMeal}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}